<div class="about">
    <div class="about__section">
        <img class="about__img mobile" src="assets/images/about1--mobile.jpg" alt="Quinnton Harris">
        <div class="about__text">
            <h3 class="about__title">HOPES</h3>
            <p class="about__description">I am a <span>storyteller</span> who paints the portraits of my soul. My aesthetic bleeds onto every photograph, pixel and word. I give moments and people a timeless voice, in hopes of finding my own in return.</p>
        </div>
    </div>
    <div class="about__section">
        <img class="about__img mobile" src="assets/images/about2--mobile.jpg" alt="Quinnton Harris">
        <div class="about__text">
            <h3 class="about__title">PASSIONS</h3>
            <p class="about__description">I love listening to the stories of others. My greatest strength comes from those who unconditionally share their deepest passions and gifts with the world. Consequently, my greatest weakness often lies within each beautiful moment of their stories.</p>
        </div>
    </div>
    <div class="about__section">
        <img class="about__img mobile" src="assets/images/about3--mobile.jpg" alt="Quinnton Harris">
        <div class="about__text">
            <h3 class="about__title">DREAMS</h3>
            <p class="about__description">I am driven to create bodies of work that reflect all of me. I was raised by artists in Chicago, educated by engineers in Boston and now inspired by new family in New York City. I am a Son. I am a brother. I am a leader. I am a husband. I am a designer. I am a photographer. I am an entrepreneur. I am many--yet only one Quinnton Harris.</p>
        </div>
    </div>

</div>
