<div class="footer">
    <ul class="footer__social-links">
        <li class="link-wrapper"><a class="link" href="#">Twitter /</a></li>
        <li class="link-wrapper"><a class="link" href="#"> VSCO Grid /</a></li>
        <li class="link-wrapper"><a class="link" href="#"> Instagram /</a></li>
        <li class="link-wrapper"><a class="link" href="#"> Vimeo /</a></li>
        <li class="link-wrapper"><a class="link" href="#"> Google+</a></li>
    </ul>
    <div class="copyright">&copy; Quinnton J Harris All Rights Reserved.</div>
</div>
