<div class="footer">
    <ul class="footer__social-links">
        <li class="link-wrapper"><a class="link" href="#">Twitter</a><span class="link__slash">/</span></li><li class="link-wrapper"><a class="link" href="#">VSCO Grid</a><span class="link__slash">/</span></li><li class="link-wrapper"><a class="link" href="#">Instagram</a><span class="link__slash">/</span></li><li class="link-wrapper"><a class="link" href="#">Vimeo</a><span class="link__slash">/</span></li><li class="link-wrapper"><a class="link" href="#">Google+</a><span class="link__slash">/</span></li>
    </ul><div class="copyright">&copy; Quinnton J Harris All Rights Reserved.</div>
</div>
