<div class="footer">
    <ul class="footer__social-links">
        <li class="link-wrapper"><a class="link" href="http://www.twitter.com/quinntonharris" target="_blank">Twitter</a><span class="link__slash">/</span></li><li class="link-wrapper"><a class="link" href="http://quinntonharris.vsco.co" target="_blank">VSCO Grid</a><span class="link__slash">/</span></li><li class="link-wrapper"><a class="link" href="http://instagram.com/quinntonharris" target="_blank">Instagram</a><span class="link__slash">/</span></li><li class="link-wrapper"><a class="link" href="http://www.vimeo.com/quinntonharris" target="_blank">Vimeo</a><span class="link__slash">/</span></li><li class="link-wrapper"><a class="link" href="https://plus.google.com/+QuinntonHarris" target="_blank">Google+</a><span class="link__slash">/</span></li>
    </ul><div class="copyright">&copy; Quinnton J Harris All Rights Reserved.</div>
</div>
