.inspiration {

    /**
     * BASE COMPONENT STYLES HERE
     * (common across all screen sizes)
     */

    /**
     * SIZE-SPECIFIC MODIFICATIONS AND ENHANCEMENTS
     * (start small and work up)
     * baseline breakpoints are included, add more as needed
     */

    @include respond-to($mobile) {
        color: #fff;
        &__section--quote {
            background-image: url('../images/inspiration--mobile.jpg');
            background-size: cover;
            background-position-y: 50%;
            padding: 100px 3% 100px 5%;
        }
        &__quote {
            letter-spacing: 2px;
            @include rem(font-size, 3.3);
            @include rem(line-height, 4.5);
            font-family: $serif;
            margin: 0;
            &--small {
                @include rem(font-size, 2.5);
                border-bottom: 1px solid;
                display:inline-block;
                padding-bottom: 5px;
            }
        }
        &__byline {
            @include rem(font-size, 1.6);
            margin-bottom: 0;
        }
        &__section--audio {
            .inspiration__quote {
                border-bottom: 1px solid;
                padding-bottom: 10px;
            }
            background: #000;
            padding: 60px 3% 60px 5%;
        }
        .dotted {
            text-decoration: underline;
        }

        &__audio {
            margin-top: 15px;
            width: 95%;
        }
        &__text {
            text-align: center;
        }
    }

    @include respond-to($tablet) {
        &__section--quote {
            background-image: url('../images/inspiration--desktop.jpg');
            padding: 150px 0px;
        }
        &__text {
            width: 70%;
            margin: 0 auto;
            text-align: center;
        }
        &__quote {
            @include rem(font-size, 2.5);
            &--small {
                @include rem(font-size, 3.3);
            }
        }

        &__section--audio {
            background-image: url('../images/inspiration--audio.jpg');
            padding: 150px 0px;
            background-position-x: 50%;
            background-position-y: 50%;
            background-size: cover;
            text-align: center;

            .inspiration__text {
                display: inline-block;
                width: auto;
            }
        }
        &__audio {
            margin-top: 30px;
            margin-left: 20%;
            margin-right: auto;
            width: 60%;
        }

    }

    @include respond-to($desktop) {

    }
}
