<div class="inspiration">
    <div class="inspiration__section--quote">
        <div class="inspiration__text">
            <p class="inspiration__quote inspiration__quote--large">"POOR... YOU ARE NEVER POOR...</p>
            <p class="inspiration__quote inspiration__quote--small">YOU WERE BORN RICH"<p/>
            <p class="inspiration__byline">Inspired to be this by <span class="dotted">Geoffrey HOLDER</span>, Artist and Designer</p>
        </div>
    </div>
    <div class="inspiration__section--audio">
        <div class="inspiration__text">
            <p class="inspiration__quote">A VOICE INSPIRED BY GREATNESS<p/>
            <p class="inspiration__byline">Listen to a short narrative on the people who inspire me // Interviewed by <span class="dotted">Schuanne Chappel</span></p>
        </div>
    </div>
</div>
