.navigation {

    background: rgba(255,255,255,0.9);
    width: 94%;
    margin: 0 auto;
    height: 60px;
    position: fixed;
    left: 3%;
    top: 20px;
    z-index: 10;
    padding: 10px 0px;

    .nav__logo {
        margin-top: 5px;
        margin-left: 20px;
        width: 200px
    }

    .nav__burger {
        float: right;
        margin-right: 20px;
        margin-top: 9px;
    }

    .nav__list {
        display: none;
    }
    @include respond-to(400px) {
        .nav__logo {
            margin-top: -5px;
            margin-left: 35px;
            width: 260px
        }
    }

    @include respond-to($tablet) {
        position: absolute;
    }
    @include respond-to(925px) {
        font-size: 0px;
        padding: 10px 0px;
        .nav__burger {
            display: none
        }

        .nav__logo {
            position: absolute;
            top: 50%;
            margin-top: -35px;
            left: 40px;
            margin-left: 0px;
        }

        .nav__list {
            display: inline-block;
            margin: 0;
            padding: 0;
            position: absolute;
            right: 40px;
            top: 50%;
            margin-top: -8px;
        }
        .nav__item {
            display: inline-block;
        }
        .nav__link {
            font-family: 'proxima_nova_regular', MyriadPro, 'Myriad Pro', sans-serif;
            letter-spacing: 2px;
            text-decoration: none;
            color: #666;
            padding: 0px 40px;
            @include rem(font-size, 1.6);
            &:last-child {
                padding-right: 0px;
            }
            &:hover {
                color: $hover;
            }
        }
    }
}


.nav-drawer {
    position: fixed;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0px;
    z-index: 5;
    padding-top: 100px;
    padding-bottom: 30px;
    background: rgba(255,255,255,0.95);
    transition: transform 500ms ease, opacity 800ms ease;
    transform: translateY(-100%);

    &.active {
        transform: translateY(0%);
        opacity: 1;
    }

    .drawer__list {
        width: 80%;
        margin: 0 auto;
        padding: 0;
    }

    .drawer__item {
        padding: 20px 0px;
        display: block;
        border-bottom: 1px #b1afae solid;
        &:last-child {
            border: none;
        }

    }
    .drawer__link {
        font-family: 'proxima_nova_regular', MyriadPro, 'Myriad Pro', sans-serif;
        @include rem(font-size, 2.4);
        display: block;
        color: $gray--med;
        text-decoration: none;
        margin-left: 10px
    }
}
