
<nav class="navigation">
  <div class="content navigation__content">
    <a href="/" class="logo">Starter<span>kit</span></a>
    <a href="#" class="menu_link  menu_link--open  menu_link--js_open">Open Nav</a>
    <a href="#" class="menu_link  menu_link--close  menu_link--js_close">Close Nav</a>
    <ul>
      {{#each navigation}}
      <li class="navigation__item"><a href="{{link}}">{{text}}</a></li>
      {{/each}}
    </ul>
  </div>
</nav>
