<nav class="navigation">
    <img class="nav__logo" src="assets/images/logo.svg" alt="logo">
    <img class="nav__burger" src="assets/images/mobile-hamburger.jpg" alt="menu button">
    <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="index.html">STORIES</a></li>
        <li class="nav__item"><a class="nav__link" href="index.html">JOURNAL</a></li>
        <li class="nav__item"><a class="nav__link" href="index.html">INSPIRATION</a></li>
        <li class="nav__item"><a class="nav__link" href="index.html">SERVICES</a></li>
    </ul>
</nav>
<div class="nav-drawer">
    <ul class="drawer__list">
        <li class="drawer__item"><a class="drawer__link" href="index.html">HOME</a></li>
        <li class="drawer__item"><a class="drawer__link" href="index.html">STORIES</a></li>
        <li class="drawer__item"><a class="drawer__link" href="index.html">JOURNAL</a></li>
        <li class="drawer__item"><a class="drawer__link" href="index.html">INSPIRATION</a></li>
        <li class="drawer__item"><a class="drawer__link" href="index.html">SERVICES</a></li>
    </ul>
</div>
