<nav class="navigation">
    <img class="nav__logo" src="assets/images/logo.svg" alt="logo">
    <img class="nav__burger" src="assets/images/hamburger.svg" alt="menu button">
    <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="stories.html">STORIES</a></li>
        <li class="nav__item"><a class="nav__link" href="http://journal.quinntonharris.com/" target="_blank">JOURNAL</a></li>
        <li class="nav__item"><a class="nav__link" href="http://inspiration.quinntonharris.com/" target="_blank">INSPIRATION</a></li>
        <li class="nav__item"><a class="nav__link" href="services.html">SERVICES</a></li>
    </ul>
</nav>
<div class="nav-drawer">
    <ul class="drawer__list">
        <li class="drawer__item"><a class="drawer__link" href="index.html">HOME</a></li>
        <li class="drawer__item"><a class="drawer__link" href="stories.html">STORIES</a></li>
        <li class="drawer__item"><a class="drawer__link" href="http://journal.quinntonharris.com/" target="_blank">JOURNAL</a></li>
        <li class="drawer__item"><a class="drawer__link" href="http://inspiration.quinntonharris.com/" target="_blank">INSPIRATION</a></li>
        <li class="drawer__item"><a class="drawer__link" href="services.html">SERVICES</a></li>
    </ul>
</div>
