// Starting breakpoints - use more as needed in component and page files
$mobile: 320px;
$tablet: 768px;
$desktop: 1024px;

$serif: "Big Caslon", Perpetua, Baskerville, "Palatino Linotype", Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
