<div class="stories js-page-controller-action" data-action-name="stories">
    <div class="intro">
        <img class="intro__img mobile" src="assets/images/stories-intro--mobile.jpg" alt="man">
        <img class="intro__img desktop" src="assets/images/stories-intro--desktop.jpg" alt="man">
        <div class="intro__text">
            <h2 class="intro__title">STORIES WORTH SHARING</h2>
            <h2 class="intro__description">Experience tales of passion, style and triumph closest to my heart.</h2>
            <a href="#stories"><img class="arrow" src="assets/images/arrow--down.png" alt="down arrow"></a>
        </div>
    </div>
    {{> story-previews}}
    {{> footer}}
</div>
