.pages {

    /**
     * BASE COMPONENT STYLES HERE
     * (common across all screen sizes)
     */

    /**
     * SIZE-SPECIFIC MODIFICATIONS AND ENHANCEMENTS
     * (start small and work up)
     * baseline breakpoints are included, add more as needed
     */

    @include respond-to($mobile) {
        padding: 0px 0px 50px 0px;
        .page {
            padding-left: 5%;
            width: 70%;
            @include rem(font-size, $body-copy);
            &__title {
                font-family: $serif;
                @include rem(font-size, $title-size);
                @include rem(line-height, $title-size);
                width: 95%;
                color: $gray--med;
                border-bottom: 1px solid $gray--very-dark;
                margin: 0;
                padding-bottom: 15px;
                margin-bottom: 15px;
                margin-top: 50px;
            }
            &__description {
                color: $gray--very-dark;
                margin: 0;
                margin-bottom: 10px;
            }
            &__cta {
                color: $gray--very-dark;
                border-bottom: 1px solid;
                text-decoration: none;
            }
        }

    }

    @include respond-to($tablet) {
        font-size: 0px;
        font-weight: normal;
        padding: 0;
        .page {
            box-sizing: border-box;
            &:hover {
                border: 7px solid #fff;
            }
            @include rem(font-size, 1.6);
            width: 1/3 * 100%;
            display: inline-block;
            padding: 0;
            height: 45vw;
            background-size: cover;
            color: #fff;
            position: relative;
            &:nth-child(1) {
                background-image: url('../images/page--stories.jpg');
            }
            &:nth-child(2) {
                background-image: url('../images/page--journal.jpg');
                .about__text {
                    margin-left: 55%;
                }
            }
            &:nth-child(3) {
                background-image: url('../images/page--inspiration.jpg');
            }
            &__text {
                width: 85%;
                bottom: 36px;
                left: 7.5%;
                position: absolute;
            }
            &__title {
                color: #fff;
                border-color: #fff;
            }
            &__description {
                color: #fff;
            }
            &__cta {
                color: #fff;
                &:hover {
                    color: $hover;
                }
            }
        }

    }

    @include respond-to($desktop) {

    }
}
