<div class="pages">
    <div class="page">
        <div class="page__text">
            <h4 class="page__title">STORIES</h4>
            <p class="page__description">Experience tales of passion, style and triumph closest to my heart.</p>
            <a class="page__cta" href="stories.html">View page</a>
        </div>
    </div>
    <div class="page">
        <div class="page__text">
            <h4 class="page__title">JOURNAL</h4>
            <p class="page__description">View field notes and sample shots that shape my craft.</p>
            <a class="page__cta" href="stories.html">View page</a>
        </div>
    </div>
    <div class="page">
        <div class="page__text">
            <h4 class="page__title">INSPIRATION</h4>
            <p class="page__description">Browse daily posts that feed my creativity and spark my imagination.</p>
            <a class="page__cta" href="stories.html">View page</a>
        </div>
    </div>
</div>
