body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 62.5%;
    font-family: 'proxima_novathin', MyriadPro, 'Myriad Pro', sans-serif;
}
body {
    @include rem(font-size,1.6);
}

@include respond-to($mobile) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

@include respond-to($tablet) {
    .desktop {
        display: block;
    }
    .mobile {
        display: none;
    }
}
