<div class="js-page-controller-action home-page" data-action-name="home">

    <div class="intro">
        <img class="intro__img" src="assets/images/intro--mobile.jpg" alt="woman">
        <div class="intro__text">
            <h2 class="title--small">BESTOWED WITH GRACE</h2>
            <h2 class="title--large">DRIVEN TO SHARE</h2>
            <img class="arrow" src="assets/images/arrow--down.png" alt="down arrow">
        </div>
    </div>
</div>
