<div class="js-page-controller-action home-page" data-action-name="home">
    <div class="content">
        <img class="starterkit-logo" src="assets/images/starterkit_logo.jpg" alt="Starterkit Logo" />
        <p>Your STARTER<span class="highlight">KIT</span> is ready! From the root directory you can run these commands..</p>
        <h3>To Create a Component</h3>
        <code>yo starterkit:component</code>
        <p><a class="highlight" href="https://gitlab.digitas.com/starter-kit/generator-starterkit/wikis/Components">Learn more about components</a></p>
        <h3>To Create a Page</h3>
        <code>yo starterkit:page</code>
        <p><a class="highlight" href="https://gitlab.digitas.com/starter-kit/generator-starterkit/wikis/Pages">Learn more about pages</a></p>
    </div>
</div>
