.wrapper {
    height: 100%;
}
.services {

    /**
     * BASE PAGE STYLES HERE
     * (common across all screen sizes)
     */

    /**
     * SIZE-SPECIFIC MODIFICATIONS AND ENHANCEMENTS
     * (start small and work up)
     * baseline breakpoints are included, add more as needed
     */

    @include respond-to($mobile) {
        background: $peach;
        height: 95%;
        padding: 0px;
        color: #fff;
        font-family: $serif;
        padding-left: 30px;
        .services__list {
            padding-top: 200px
        }

        p {
            padding: 0px;
            margin: 0px;
        }
        hr {
            width: 200px;
            margin-left: 0;
            border-style: solid;
        }
        .email {
            border-bottom: 1px dotted;
        }

    }

    @include respond-to($tablet) {
        background-color: #000;
        background-image: url('../images/services.jpg');
        background-size: cover;

        .services__list {
            text-align: center;
        }
        hr {
            margin-left: auto;
            width: 500px;
        }
        .service {
            display: inline-block;
        }
        .inquiry {
            text-align: center;
            p {
                display: inline-block;
            }
        }

    }

    @include respond-to($desktop) {

    }
}
