.wrapper {
    height: 100%;
}
.services {

    /**
     * BASE PAGE STYLES HERE
     * (common across all screen sizes)
     */

    /**
     * SIZE-SPECIFIC MODIFICATIONS AND ENHANCEMENTS
     * (start small and work up)
     * baseline breakpoints are included, add more as needed
     */

    @include respond-to($mobile) {
        background: $peach;
        height: calc(100% - 80px);
        color: #fff;
        font-family: $serif;
        font-weight: normal;
        padding-left: 15px;
        @media only screen and (max-height: 400px) {
            padding: 0px 0px 50px 15px;
        }

        p {
            padding: 0px;
            margin: 0px;
            margin-bottom: 5px;
        }
        .text-wrapper{
            letter-spacing: 2px;
            padding-top: 30vh;
        }
        hr {
            width: 225px;
            margin-left: 0;
            border-style: solid;
        }
        .email {
            color: #fff;
            text-decoration: none;
            border-bottom: 1px solid;
            &:hover {
                color: $hover;
            }
        }

    }
    @include respond-to($mobile) {
        height: calc(100% - 70px);
    }

    @include respond-to($tablet) {
        background-color: #000;
        background-image: url('../images/services.jpg');
        background-size: cover;
        padding-left: 0;
        text-align: center;
        height: calc(100% - 50px);
        min-height: 300px;

        .text-wrapper{
            padding-top: 65vh;
            display: inline-block;
        }

        .services__list {
            @include rem(font-size, 1.8);
        }
        hr {
            margin-left: auto;
            width: auto;
        }
        .service {
            display: inline-block;
        }
        .inquiry {
            @include rem(font-size, 2.4);
            text-align: center;
            p {
                display: inline-block;
            }
        }

    }

    @include respond-to(840px) {
        .services__list {
            @include rem(font-size, 2);
        }
        .inquiry {
            @include rem(font-size, 2.6);
        }

    }
}
