<div class="services js-page-controller-action" data-action-name="services">
    <div class="text-wrapper">
        <div class="services__list">
            <p class="service">PHOTOGRAPHY &nbsp; / &nbsp;</p>
            <p class="service">CREATIVE DIRECTION &nbsp; / &nbsp;</p>
            <p class="service">BRAND STRATEGY</p>
        </div>
        <hr>
        <div class="inquiry">
            <p>INQUIRE AT</p>
            <a href="mailto:quinntonharris@gmail.com" class="email">QUINNTONHARRIS@GMAIL.COM</a>
        </div>
    </div>
</div>
{{> footer}}
