<div class="services js-page-controller-action" data-action-name="services">
    <div class="services__list">
        <p class="service">PHOTOGRAPHY /</p>
        <p class="service">CREATIVE DIRECTION /</p>
        <p class="service">BRAND STRATEGY</p>
    </div>
    <hr>
    <div class="inquiry">
        <p>INQUIRE AT</p>
        <a class="email">QUINNTONHARRIS@GMAIL.COM</a>
    </div>
</div>
