<div class="story-previews">
    <ul class="story-list">
        <li class="story new">
            <p class="story__title">NEW PROJECT</p>
            <p class="story__subtitle">Debuting 06/06/14</p>
        </li>
        <li class="story white-girls">
            <p class="story__title">WHITE GIRLS</p>
        </li>
        <li class="story fashionesta">
            <p class="story__title">THE FASHIONESTA</p>
        </li>
        <li class="story lacademie">
            <p class="story__title">L'ACAD&Eacute;MIE</p>
        </li>
        <li class="story quinton">
            <p class="story__title">QUINTON MCARTHUR</p>
        </li>
        <li class="story rise">
            <p class="story__title">#RISEofFELIS</p>
        </li>
        <li class="story austin">
            <p class="story__title">AUSTIN</p>
        </li>
        <li class="story dorian">
            <p class="story__title">DORIAN &amp; CAMIELLE</p>
        </li>
        <li class="story sendiii">
            <p class="story__title">SENDIII</p>
        </li>
    </ul>

</div>
