<div class="story-previews" id="stories">
    <ul class="story-list">
        <li class="story sendiii">
            <p class="story__overlay">SENDIII</p>
            <p class="story__title">SENDIII</p>
        </li>
        <li class="story white-girls">
            <p class="story__overlay">WHITE GIRLS</p>
            <p class="story__title">WHITE GIRLS</p>
        </li>
        <li class="story fashionesta">
            <p class="story__overlay">THE FASHIONESTA</p>
            <p class="story__title">THE FASHIONESTA</p>
        </li>
        <li class="story lacademie">
            <p class="story__overlay">L'ACAD&Eacute;MIE</p>
            <p class="story__title">L'ACAD&Eacute;MIE</p>
        </li>
        <li class="story quinton">
            <p class="story__overlay">QUINTON MCARTHUR</p>
            <p class="story__title">QUINTON MCARTHUR</p>
        </li>
        <li class="story rise">
            <p class="story__overlay">#RISEofFELIS</p>
            <p class="story__title">#RISEofFELIS</p>
        </li>
        <li class="story austin">
            <p class="story__overlay">AUSTIN</p>
            <p class="story__title">AUSTIN</p>
        </li>
        <li class="story dorian">
            <p class="story__overlay">DORIAN &amp; CAMIELLE</p>
            <p class="story__title">DORIAN &amp; CAMIELLE</p>
        </li>

    </ul>

</div>
